.contenedor_grillas {
    width: 90% !important;
}
#contenedor_bloques #bloques {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
    min-height: 500px;
    display: none;
}

#bloques {
    width: 100%;
    float: left;
}

#contenedor_bloques #bloques .dia{
    width: 18%;
    float: left;
    /*border-width: 1px;
    border-style: solid;*/
    margin-right: 2.5%;
}
#contenedor_bloques #bloques .dia_last{
    width: 18%;
    float: left;
    /*border-width: 1px;
    border-style: solid;*/
}
.dia .header, .dia_last .header{
    background-color: #3598DC;
    text-align: center;
    font-size: xx-large;
    color: #ffffff;
    margin-bottom: 10px;
}
#contenedor_bloques #bloques .bloque{
    height: 130px;
    width: 100%;
    border: 1px;
    border-style: dashed;
    margin-bottom: 10px;
}

#contenedor_bloques #bloques .bloque.selected .hora{
    text-align: center;
    font-size: small;
}

#contenedor_bloques #bloques .bloque.non_selected{
    background-color: #EFEFEF !important;
    color: #212121 !important;
}

#contenedor_bloques #bloques .bloque.non_selected .hora{
    background-color: #212121 !important;
    font-size: small;
    color: #EFEFEF !important;
    text-align: center;
    height: 30px;
    margin-bottom: 0;
}

#contenedor_bloques #bloques .bloque.non_selected .asignatura{
    background-color: #EFEFEF !important;
    font-size: small;
    color: #212121 !important;
    text-align: center;
    margin: 5px;
    height: 60px;
    margin-bottom: 0;
}


.bloque .asignatura {
    margin: 5px;
    text-align: center;
    height: 60px;
    margin-bottom: 0;
}


.bloque .profesor{
    height: 30px;
    border-top-style: solid;
    border-top-width: 1px;
    text-align: center;
    font-style: italic;

}


#contenedor_bloques #bloques #panel_loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    text-align: center;

}
