.contenedor_grillas {
    width: 90% !important;
}
#matricula_formulario {
    width:100% !important;
}
#matricula_formulario div{

}
#matricula_formulario div.titulo{
    margin-bottom:1px !important;
    padding:0 !important;
}
#matricula_formulario div.titulo h3{
    margin:0 !important;
    height:60px !important;
    font-family: Roboto,sans-serif !important;
    font-weight: 300 !important;
    color: #454545;

}
h1{
    font-family: Roboto,sans-serif !important;
    font-weight: 300 !important;
    color: #454545;
}



#matricula_formulario input, #matricula_formulario select, #matricula_formulario textarea{
    width:100% !important;
    height:35px !important;
    margin:0 !important;
    border-radius: 4px;
    font-size: small;
}

#matricula_formulario #panel_loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);

}
#matricula_formulario table{
    width: 100%;
    height: 35px !important;
}

#matricula_formulario table tr{
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: small;
}
#matricula_formulario img{
    width: 100px;
    height: 100px;
}

