#contenedor_formulario{
    background-color: #EFEFEF !important;
    margin-bottom: 10px !important;
    float: left !important;
    width: 100%;
    z-index: 10;
    padding-left: 2%;
    padding-right: 2%;
    vertical-align: middle;

}
#contenedor_formulario .grilla3{
    width: 32% !important;
    margin-right: 2% !important;

}

#contenedor_formulario .grilla3.ultima{
    margin-right: 0 !important;
}

.grilla3 select{
    width: 100%;
}

#contenedor_calendario .fc-day-header{
    background-color: #40B1E2;
    color: #ffffff;
}

#contenedor_calendario .fc-day-number{
    background-color: #C8C8C8;
    color: #A0A0A0;
    border-color: #ddd;
}

#contenedor_calendario .sin-clases{
    background: #EFEFEF;

    text-align: center;
    vertical-align: middle;
}