#contenedor_selectores{
    background-color: #EFEFEF !important;
    margin-bottom: 10px !important;
    float: left !important;
    width: 100%;
    z-index: 10;
    padding-left: 2%;
    padding-right: 2%;

}
#contenedor_selectores .grilla3{
    width: 32% !important;
    margin-right: 2% !important;

}

#contenedor_selectores .grilla3.ultima{
    margin-right: 0 !important;
}

#contenedor_selectores .grilla3 select{
    width: 100%;
}

#contenedor_selectores .grilla10 select, #contenedor_selectores .grilla10 input, #contenedor_selectores .grilla10 textarea{
    width: 100%;
}

#contenedor_cartola{
    width: 100%;
    float: left;
}

#contenedor_cartola #cartola{
    width: 100%;
    float: left;
    display: table;
}
#contenedor_cartola #cartola .header_alumnos, #contenedor_cartola #cartola .header_notas{
    width: 50%;
    float: left;
    display: table-column;
    text-align: center;


}
#contenedor_cartola #cartola .empty{
    width: 50%;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    float: left;
    height: 32px;
}
#contenedor_cartola #cartola .header_fechas{
    height: 32px;
    width: 45%;
    float: right;
    margin-right: 5%;
    border-right: 1px solid transparent;
}
#contenedor_cartola #cartola .header_fechas .fecha{
    width: 10%;
    float: left;
    display: table-column;
    border-top: 1px solid #212121;
    border-right: 1px solid #212121;
    text-align: center
}


#contenedor_cartola #cartola .registro{
    width: 100%;
    float: left;
    display: table-row;
}

#contenedor_cartola #cartola .registro .alumno{
    width: 50%;
    height: 50px;
    float: left;
    display: table-column;
    border-top: 1px solid #212121;
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;
    line-height: 50px;
}

#contenedor_cartola #cartola .registro .alumno.ultimo{
    border-bottom: 1px solid #212121;
}

#contenedor_cartola #cartola .registro .notas{
    width: 45%;
    height: 50px;
    float: left;
    display: table-column;
    border-top: 1px solid #212121;
    border-right: 1px solid #212121;
}

#contenedor_cartola #cartola .registro .notas.ultimo{
    border-bottom: 1px solid #212121;
}

#contenedor_cartola #cartola .registro .notas .casillero{
    width: 10%;
    height: 100%;
    border-right: 1px solid #212121;
    float: left;
}

#contenedor_cartola #cartola .registro .notas .casillero.ultimo{
    border-left: none;
}

#contenedor_cartola #cartola .registro .notas .casillero .coeficiente{
    background-color: #4C4C4C;
    color: #ffffff;
    font-size: xx-small;
    text-align: center;
    height: 20px;
    line-height: 20px;

}

#contenedor_cartola #cartola .registro .notas .casillero input{
    width: 100%;
    height: 30px;
    border-radius: inherit;
    border: none;
    background-color: #EFEFEF;
    margin-top: 0;
    text-align: center;
}

.azul, input.azul{
    background-color: #2988C9 !important;
    color: #ffffff;

}

.rojo, input.rojo{

    background-color: #D4555E !important;
    color: #ffffff;

}

#contenedor_cartola #cartola .registro .notas .casillero input::-webkit-input-placeholder{
    color: #A0A0A0;
}

#contenedor_cartola #cartola .registro .notas .casillero input[readonly]{
    background-color: #A0A0A0;
}

#contenedor_cartola #cartola .registro .notas .casillero input[readonly]::-webkit-input-placeholder{
    color: #ffffff;
}

#contenedor_cartola #cartola .registro .notas.ultimo .casillero input{
    height: 28px;
}

#contenedor_cartola #cartola .registro .promedio {
    width: 5%;
    height: 50px;
    float: left;
    display: table-column;
    border-right: 1px solid #212121;
    border-top: 1px solid #212121;
}

#contenedor_cartola #cartola .registro .promedio.ultimo{
    border-bottom: 1px solid #212121;
}

#contenedor_cartola #cartola .registro .promedio .header{
    background-color: #4C4C4C;
    color: #ffffff;
    font-size: xx-small;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

#contenedor_cartola #cartola .registro .promedio p{
    text-align: center;
}