
.contenedor_grillas {
    width: 90% !important;
}
#contenedor_bloques {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
    min-height: 500px;
    display: none;
}
#contenedor_bloques .dia{
    width: 18%;
    float: left;
    /*border-width: 1px;
    border-style: solid;*/
    margin-right: 2.5%;
}
#contenedor_bloques .dia_last{
    width: 18%;
    float: left;
    /*border-width: 1px;
    border-style: solid;*/
}
.dia .header, .dia_last .header{
    background-color: #3598DC;
    text-align: center;
    font-size: xx-large;
    color: #ffffff;
    margin-bottom: 10px;
}
#contenedor_bloques .bloque{
    height: 130px;
    width: 100%;
    border: 1px;
    border-style: dashed;
    margin-bottom: 10px;
    background-color: #EFEFEF;
}
#contenedor_bloques .bloque.selected{
    border-color: #02B59F;
    background-color: #e5f9f6;
}

.bloque .hora{
    background-color: #C8C8C8;
    font-size: small;
    color: #888;
    text-align: center;
    height: 30px;
    margin-bottom: 0;
}

.bloque.selected .hora{
    background-color: #00C3AB;
    color: #ffffff;
}
.bloque .asignatura {
    margin: 5px;
    text-align: center;
    height: 60px;
    margin-bottom: 0;
}
.bloque.selected .asignatura{
    color: #02B59F;
}

.bloque .profesor{
    height: 30px;
    border-top-style: solid;
    border-top-width: 1px;
    text-align: center;
    font-style: italic;

}
.bloque.selected .profesor{
    color: #02B59F;
}

#contenedor_formulario .grilla10.center{
    text-align: center;
}
#contenedor_formulario .grilla10.center input{
    width: 30% !important;
    margin: auto !important;
}

#contenedor_bloques #panel_loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    text-align: center;

}
#contenedor_formulario {

    background-color: #ffffff;
    margin-bottom: 10px;
    float: left;
    width: 100%;

}

#contenedor_formulario div.titulo{
    margin-bottom:1px !important;
    padding:0 !important;
}
#contenedor_formulario div.titulo h3{
    margin:0 !important;
    height:60px !important;
    font-family: Roboto,sans-serif !important;
    font-weight: 300 !important;
    color: #454545;

}
h1{
    font-family: Roboto,sans-serif !important;
    font-weight: 300 !important;
    color: #454545;
}
#contenedor_formulario input, #contenedor_formulario select, #contenedor_formulario textarea{
    width:100% !important;
    height:35px !important;
    margin:0 !important;
    border-radius: 4px;
    font-size: small;
}

#contenedor_formulario div.error{
    font-size:small !important;
    /*font-style:italic !important;*/
    color:#E65D65 !important;
}

#contenedor_formulario div.error p{
    margin: 0 !important;
}

#contenedor_formulario strong{
    color: #E65D65 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
}
#contenedor_formulario input.error, #contenedor_formulario select.error{
    background: #fbe3e4 !important;
    border: 1px solid #fbc2c4 !important;
    color: #8a1f11 !important;
}
#contenedor_formulario input.error::-webkit-input-placeholder {
    color: #dbbbb7 !important;
}
#contenedor_formulario img{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contenedor_formulario #panel_loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);

}
#contenedor_formulario table{
    width: 100%;
    height: 35px !important;
}

#contenedor_formulario table tr{
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: small;
}

#contenedor_formulario .grilla4{
    width: 23.5% !important;
    margin-right: 2% !important;
}
#contenedor_formulario .grilla4.last{
    width: 23.5% !important;
    margin-right: 0 !important;
}


.asignatura hr {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-top: 1px solid #119420;
}


#panel_loading img{
    width: 100px;
    height: 100px;
    margin-top: 300px;
}
#panel_loading div{
    text-align: center;
    color: #40B1E2;
}