#panel_loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    text-align: center;

}
#panel_loading img{
    width: 100px;
    height: 100px;
    margin-top: 300px;
}
#panel_loading div{
    text-align: center;
    color: #40B1E2;
}